p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #10315f;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    justify-content:center;
    height: 250px;
    display:flex;
    align-items: center;
}

.profile h1 {
        font-size: calc(50px + 2vw);
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.about_me{
    display: flex;
    justify-content:center;
    padding: 10px;
    background-color: #1d539f;
    color: white;
    font-size:xx-large;
}

.content{
    justify-content:center;
    text-align:left;
    margin-left: 200px;
    margin-right:200px;
    display:flex;
}




a {
    color: rgb(210, 191, 44);
    text-decoration: none;

  }


nav {
    height: 100px;
    width: 100vw;
    background-color: #1b427a;
    justify-content:space-evenly;
    
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    height: 100%;
}

.picture-frame {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.nav-img{
    width: 50%;
    height: 50%;
}

.nav-portal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 495px) {
    .picture-frame {
        width: 30vw;
    }
}


/* Arrow CSS */

.arrow {
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*   border:solid 1px white; */
    transition: 0.5s;
    overflow: hidden;
    top: 20px;
    left: 50px;
}

.arrow:hover {
    /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
    border: solid 2px white;
    border-radius: 50%;
}

.arrow:after {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 20px;
    height: 15px;
    /*   border:solid 1px;  */
    top: -1px;
    border-bottom: solid 2px;
    transform: translatex(4px);
}

.arrow:before {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 8px;
    height: 8px;
    /*   border:solid 1px;  */
    border-top: solid 2px;
    border-left: solid 2px;
    top: 50%;
    left: 2px;
    transform-origin: 0% 0%;
    transform: rotatez(-45deg);

}

.arrow:hover:before {
    animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
    animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
    0% {
        transform: rotatez(-45deg) translateY(30px) translateX(30px);
    }

    100% {
        transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
}


@keyframes aniArrow02 {
    0% {
        transform: translateX(45px);
    }

    100% {
        transform: translateX(-44px);
    }
}

@keyframes borderAni {
    0% {
        border: solid 2px white;
    }

    100% {
        border: solid 2px white;
        border-radius: 50%;
    }
}

@media screen and (max-width: 594px) {

    .nav-portal h2 a {
        font-size: 4vw;
    }
}


@media screen and (max-width: 500px) {
    .profile {
        flex-direction: column;
        height: 450px;
    }
}

@media screen and (max-width: 380px) {
    .content {
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
    }
}



