* {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 320px;
    width: 100vw;
    background-color: #1d539f;
    margin-bottom: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    height: 100%;
}

.picture-frame {
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.nav-portal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 495px) {
    .picture-frame {
        width: 30vw;
    }
}