* {
    margin: 0px;
    padding: 0px;
}

table, th, td {
    border:1px solid black;
}

nav {
    height: 320px;
    width: 100vw;
    background-color: #1d539f;
    margin-bottom: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.picture-frame {
    width: 250px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}

.experience-container {
    height: fit-content;
}

.experience-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: calc(12px + 2vw)
}

.experience-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.experience-header {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experience-point h2 {
    margin-bottom: 10px;
    font-size: calc(12px + 1vw);
    
}

.jobDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jobDescription ul {
    width: 50vw;
}

.jobDescription ul li {
    margin-bottom: 10px;
    font-size: calc(12px + 0.5vw);
}

