* {
    margin: 0px;
    padding: 0px;
}

.body {
    width: 100vw;
}

#title {
    text-align: center;
    font-size: 3rem;
    padding: 5px;
}

form {
    border: 5px solid black;
    margin-bottom: 20px;
}

.form-container {
    width: 70%;
    margin: 0 auto;
}

.container {
    width: 40%;
    margin: 0 auto;
}

label {
    margin-bottom: 10px;
    font-size: 1.4vw;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-input input {
    width: 200px;
}

.button {
    padding: 7px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
}

.timeline-container {
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
}

.timeline-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 40vw;
}

.timeline-top h1 {
    font-size: 1.9vw;
    width: 200vw;
}

.timeline-top h3 {
    width: 200vw;
    font-size: 1.5vw;
    align-self: flex-end;
}

p {
    margin-bottom: 20px;
    font-size: 1.3vw;
}