<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/experiencePage.css')}}">
    <title>Experience</title>
</head>

<body>
    <nav>
        <div class="nav-container">
            <div class="picture-frame">
                <img src="{{url_for('static', filename='img/portfolio.png')}}" alt="hobbies-pic">
            </div>
        </div>
    </nav>
    <div class="experience">
        <div class="experience-container">
            {% for d in experience %}
            {% for x in d %}
            <table style="width:100%">
                <tr>
                    <td>{{x}}</td>
                </tr>
                <tr>
                    <td>{{d[x]}}</td>
                </tr>
            </table>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>

</html>