<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/experiencePage.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">
    <title>Experience</title>
</head>

<body>
    <nav>
        <div class="arrow" onclick="history.back()"></div>
        <div class="nav-container">
            <div class="picture-frame">
                <img src="{{url_for('static', filename='img/portfolio.png')}}" alt="hobbies-pic">
            </div>
        </div>
    </nav>
    <div class="experience">
        <div class="experience-container">
            <h1>Work Experience</h1>
            {% for d in experience %}
            <div class="experience-point">
            <div class="card" style="width: 60%;">
                <div class="card-body">
                <h5 class="card-title">{{d['Company']}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{d['Role']}}</h6>
                {% for x in d['JobDescription'] %}
                <p class="card-text">{{x}}</p>
                {% endfor %}
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>