<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/experiencePage.css')}}">
    <title>Hobbies</title>
</head>
<body>
    <nav>
        <h1>Hobbies</h1>
        <div class="nav-container">
            
        </div>
    </nav>

    <div>
        {% for x in hobbies %}
                {% for d in x %}
                    <p>{{d}}</p>
                    <img src="{{url_for('static', filename=x[d])}}" alt="">
                {% endfor %}
            {% endfor %}
    </div>
</body>
</html>